@font-face {
	font-family: 'unifont';
	src: href('font/unifont.ttf');
}

body {
	background-color: #000;
	font-family: unifont, monospace;
}

#game {
	display: flex;
	justify-content: center;
}

canvas {
	display: none;
}

#messages {
	margin-right: 2em;
	padding-left: 1em;

	height: 640px;
	width: 30em;

	overflow-y: auto;
	direction: rtl;

	-moz-user-select: none;
	user-select: none;
}

#messages div {
	margin-bottom: 1ex;
	padding: 1ex;

	direction: ltr;

	border-radius: 2px;

	color: white;

	hyphens: auto;
}

#messages .character_message {
	margin-right: 5em;

	background-color: #050;
}

#messages .system_message {
	background-color: #555;
}

#messages .answer {
	margin-left: 5em;

	background-color: #005;
}

#messages .answer:hover {
	margin-left: 5em;

	background-color: #057;
}

#messages .user_message {
	margin-left: 5em;

	background-color: #005;
}

#notes {
	visibility: hidden;

	display: flex;
	justify-content: center;

	margin-top: 4ex;

	border: thin solid #222;

	color: #999;
}

legend {
	color: #555;
}

#notes-tabs {
	margin-left: 1em;
	margin-right: 1em;

	max-width: 20%;
}

#notes-tabs > div {
	padding: 1ex;

	color: #555;
}

#notes-tabs > div:hover {
	background: #222;
	color: #999;
}

#notes-tabs > div.selected {
	background: #222;
	color: #fff;
}

#notes-content {
	display: flex;
	flex-direction: column;

	max-width: 40em;

	hyphens: auto;
}

#notes-content > div, #Terminology > div{
	visibility: hidden;
	height: 0;
	order: 1;
}

#notes-content > div.shown {
	visibility: visible;
	height: auto;
	order: 0;
}

#Terminology > div.shown {
	visibility: inherit;
	height: auto;
}

h1 {
	font-size: 1.5em;
}

h2 {
	display: inline;

	font-size: 1.05em;
}

div.code {
	padding: 1ex;
	margin: 1ex;
	padding-left: 2em;
	background: #222;
}

span.code {
	padding: 0.5ex;
	background: #222;
	white-space: nowrap;
}

#messages span.code {
	padding-top: 0;
	padding-bottom: 0.25ex;
}

a, a:visited {
	color: #09f
}
